.top{
  .top_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    img{
      zoom: 80%;
    }
  }
  .slider{
    margin-top: -600px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    .footer_social{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      a{
        text-decoration: none;
        padding: 0 10px;
        .fa{
          color: $top-color;
          &:hover{
            color: #87bbbc;
          }
        }
      }
    }
    .carousel{
      max-width: 700px;
      padding-bottom: 50px;
      .sl__slide{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .sl__text{
          width: 200px;
          max-height: 110px;
          position: absolute;
          bottom: 150px;
          left: 220px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          .info_main_box{
            h2{
              color: #1a1a1d;
              font-family: $second-font;
              font-size: 90px;
              font-weight: 300;
              line-height: 100px;
            }
          }
          p{
            padding-left: -100px;
            color: $top-color;
            font-family: $main-font;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px){
  .top{
    .top_bg{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      img{
        zoom: 60%;
      }
    }
  }
}


@media screen and (max-width: 575.98px){
  .top{
    .top_bg{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      img{
        zoom: 30%;
      }
    }
    .slider{
      margin-top: -300px;
      padding: 100px 0;
      display: flex;
      justify-content: center;
      .footer_social{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        a{
          text-decoration: none;
          padding: 0 10px;
          .fa{
            color: $top-color;
            &:hover{
              color: #87bbbc;
            }
          }
        }
      }
      .carousel{
        max-width: 300px;
        padding-bottom: 50px;
        .sl__slide{
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          .sl__text{
            width: 200px;
            max-height: 110px;
            position: absolute;
            bottom: 150px;
            left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            .info_main_box{
              h2{
                color: #1a1a1d;
                font-family: $second-font;
                font-size: 50px;
                font-weight: 300;
                line-height: 100px;
              }
            }
            p{
              padding-left: -100px;
              color: $top-color;
              font-family: $main-font;
              font-size: 17px;
              font-weight: 400;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}